site_name: PyScript
site_author: The PyScript OSS Team
site_description: PyScript - an open source platform for Python in the browser.

theme:
    name: material
    custom_dir: overrides

    logo: assets/images/pyscript-black.svg

    palette:
        # Palette toggle for automatic mode
        - media: "(prefers-color-scheme)"
          primary: orange
          toggle:
              icon: material/brightness-auto
              name: Switch to light mode

        # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          primary: orange
          scheme: default
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode

        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          primary: orange
          scheme: slate
          toggle:
              icon: material/brightness-4
              name: Switch to system preference

    features:
        - content.code.copy
        - content.code.annotate

markdown_extensions:
    - attr_list
    - md_in_html
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - admonition
    - pymdownx.details

extra:
  version:
    provider: mike

plugins:
  - search
  - mike:
      version_selector: true
      css_dir: css
      javascript_dir: js
      canonical_version: null
  - mkdocstrings:
      default_handler: python
      locale: en
      handlers:
        python:
          options:
            show_source: true
            members_order: source
            show_symbol_type_heading: true
            show_symbol_type_toc: true

nav:
  - Home: index.md
  - Start here: beginning-pyscript.md
  - User guide:
    - Introduction: user-guide/index.md
    - What is PyScript?: user-guide/what.md
    - Core concepts:
      - The DOM &amp; JavaScript: user-guide/dom.md
      - Events: user-guide/events.md
      - Displaying things: user-guide/display.md
      - Configure PyScript: user-guide/configuration.md
    - Advanced topics:
      - Architecture: user-guide/architecture.md
      - Web Workers: user-guide/workers.md
      - PyScript and filesystems: user-guide/filesystem.md
      - Media: user-guide/media.md
      - The FFI in detail: user-guide/ffi.md
      - Use Offline: user-guide/offline.md
    - Feature guides:
      - Python terminal: user-guide/terminal.md
      - Python editor: user-guide/editor.md
      - PyGame-CE: user-guide/pygame-ce.md
      - PyScript in JavaScript: user-guide/from_javascript.md
      - Plugins: user-guide/plugins.md
  - Example Applications:
      - Overview: example-apps/overview.md
      - Pirate Translator: example-apps/pirate-translator/info.md
      - Task Board (Pythonic): example-apps/task-board-web/info.md
      - Task Board (FFI): example-apps/task-board-ffi/info.md
      - Colour Picker: example-apps/colour-picker/info.md
      - Display Demos: example-apps/display-demo/info.md
      - Prime Number Finder: example-apps/prime-worker/info.md
      - Note Taker: example-apps/note-taker/info.md
      - Photobooth: example-apps/photobooth/info.md
      - Bouncing Ball: example-apps/bouncing-ball/info.md
  - PyScript APIs:
    - Introduction: api/init.md
    - context: api/context.md
    - display: api/display.md
    - events: api/events.md
    - fetch: api/fetch.md
    - ffi: api/ffi.md
    - flatted: api/flatted.md
    - fs: api/fs.md
    - media: api/media.md
    - storage: api/storage.md
    - util: api/util.md
    - web: api/web.md
    - websocket: api/websocket.md
    - workers: api/workers.md
  - Developing PyScript:
    - Contributing: contributing.md
    - Developer Guide: developers.md
    - Code of Conduct: conduct.md
    - License: license.md
  - FAQ: faq.md
